<section class="container" *ngIf="!isValidated">
  <div class="d-flex justify-content-center mt-5">
    <div class="card m-3" style="width: 25rem;">
      <div class="card-header d-flex justify-content-center">
        <h5>Forgot Password</h5>
      </div>
      <div class="card-body">
        <form name="form" [formGroup]="passwordResetValidateObj" (ngSubmit)="onSubmitValidate()">
          <div class="row">
            <div class="form-group col">
              <label>Email</label>
              <input type="email" name="email" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors}">
              <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">email is required</div>
                <div *ngIf="f.email.errors.email">email is not valid</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label>DOB</label>
              <input type="date" name="dob" class="form-control" formControlName="dob"
                [ngClass]="{ 'is-invalid': isSubmitted && f.dob.errors}">
              <div *ngIf="isSubmitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">DOB is required</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <div>
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span *ngIf="!loading">Go</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="container" *ngIf="isValidated">
  <div class="d-flex justify-content-center mt-5">
    <div class="card m-3" style="width: 25rem;">
      <div class="card-header d-flex justify-content-center">
        <h5>Reset Password</h5>
      </div>
      <div class="card-body">
        <form name="form" [formGroup]="passwordResetNewPasswordObj" (ngSubmit)="onSubmitReset()">
          <div class="row">
            <div class="form-group col">
              <label>Password</label>
              <input type="password" name="password" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': isSubmitted && r.password.errors}">
              <div *ngIf="isSubmitted && r.password.errors" class="invalid-feedback">
                <div *ngIf="r.password.errors.required">Password is required</div>
                <div *ngIf="r.password.errors.minlength">min 5 chars is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control" formControlName="passwordConfirm"
                [ngClass]="{ 'is-invalid': isSubmitted && r.passwordConfirm.errors}">
              <div *ngIf="isSubmitted && r.passwordConfirm.errors" class="invalid-feedback">
                <div *ngIf="r.passwordConfirm.errors.required">Re-enter Password</div>
                <div *ngIf="r.passwordConfirm.errors.ConfirmPassword">Passwords do not match</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <div>
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span *ngIf="!loading">Reset</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>