<div class="container-flex">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading">
    <div *ngFor="let post of posts">
      <div class="card mb-3" style="max-width: 750px;">
        <div class="row g-0">
          <div class="col-sm-2 mx-auto my-auto" style="max-width: 3rem; max-height: 3rem;">
            <img class="card-img-top img-fluid img-thumbnail" style="border-radius: 100%;"
              src="./../../../assets/default-user-picture.jpg" alt="profile photo">
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">@{{post.userName}}</h5>
              <p class="card-text ">{{post.post}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{ getDiff(post.createdDate) }} ago</small>
              </p>
            </div>
          </div>
          <div class="col-sm-2 mx-auto my-auto">
            <img class="card-img-top img-fluid" src="./../../../assets/Default_Image_Thumbnail.png" alt="profile photo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>