<section class="container-flex">
  <div class="row">
    <div class="col-md-4">
      <app-user-card></app-user-card>
    </div>
    <div class="col-md-8">
      <div class="row mt-5 mx-auto">
        <div class="col">
          <app-create-post (postSuccessEmitter)="newPostAdded($event)"></app-create-post>
        </div>
      </div>
      <div class="row mt-2 mx-auto">
        <div class="col">
          <app-new-feed [newPostAdded]="lastAddedPost"></app-new-feed>
        </div>
      </div>
    </div>
  </div>
</section>